# Overall Statistics

## Resolution

In [4]:
# Packages
import pandas as pd

In [5]:
# Bring in '~\Box\INFO 290T Project\Intermediate Data\cars_annos.xslx'
cars_annos = pd.read_excel('~/Box/INFO 290T Project/Intermediate Data/cars_annos.xlsx')
cars_annos

,filename,x1,y1,x2,y2,class,test,class_name,im_path,width,height
0,00001.jpg,30,52,246,147,181,1,Suzuki Aerio Sedan 2007,/Box/INFO 290T Project/Raw Data/Stanford Car D...,276,182
1,00055.jpg,84,169,561,443,181,1,Suzuki Aerio Sedan 2007,/Box/INFO 290T Project/Raw Data/Stanford Car D...,640,480
2,00323.jpg,12,31,489,226,181,1,Suzuki Aerio Sedan 2007,/Box/INFO 290T Project/Raw Data/Stanford Car D...,499,238
3,00540.jpg,7,121,635,357,181,1,Suzuki Aerio Sedan 2007,/Box/INFO 290T Project/Raw Data/Stanford Car D...,640,480
4,00541.jpg,9,42,282,207,181,1,Suzuki Aerio Sedan 2007,/Box/INFO 290T Project/Raw Data/Stanford Car D...,340,255
...,...,...,...,...,...,...,...,...,...,...,...
16180,06147.jpg,31,103,617,317,77,0,Chrysler Sebring Convertible 2010,/Box/INFO 290T Project/Raw Data/Stanford Car D...,640,480
16181,06490.jpg,55,93,608,447,77,0,Chrysler Sebring Convertible 2010,/Box/INFO 290T Project/Raw Data/Stanford Car D...,640,480
16182,07763.jpg,30,39,210,157,77,0,Chrysler Sebring Convertible 2010,/Box/INFO 290T Project/Raw Data/Stanford Car D...,259,194
16183,07842.jpg,128,89,928,575,77,0,Chrysler Sebring Convertible 2010,/Box/INFO 290T Project/Raw Data/Stanford Car D...,1024,768
16184,07953.jpg,24,67,432,327,77,0,Chrysler Sebring Convertible 2010,/Box/INFO 290T Project/Raw Data/Stanford Car D...,500,375

In [6]:
# Summarize width and height columns
cars_annos[['width', 'height']].describe().T

          count        mean         std   min    25%    50%    75%     max
width   16185.0  700.492555  453.238969  78.0  429.0  640.0  800.0  7800.0
height  16185.0  483.245845  318.311547  41.0  290.0  426.0  540.0  5400.0